<div class="jumbotron">
    <h1>Event Management Calendar</h1>
    <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    <p><a class="btn btn-lg btn-success" href="/Account/Register" role="button">Start Your Calendar</a></p>
</div>  

@{
    ViewBag.Title = "Home - Our Calendar App";
}
