<div class="jumbotron">
    <h1>Event Management Calendar</h1>
    <p class="lead">Our Calendar App allows you to create an event calendar that can be embedded on your personal or organization's website.</p>
    <p><a class="btn btn-lg btn-success" href="/Account/Register" role="button">Start Your Calendar</a></p>
</div>  

@{
    ViewBag.Title = "Home - Our Calendar App";
}
